@import url(assets/fonts/fonts.css);

body {
  /*background-color: #111455;*/
  min-height: 100vh;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  margin: 0 auto;
  color: #394C5A;
  text-rendering: optimizeLegibility;
  background: linear-gradient(#2b1055, #7597de);
  overflow-x: hidden;
}

*, *::after, *::before {
  box-sizing: border-box;
  cursor: none;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1c0522;
}

::-webkit-scrollbar-thumb {
  background: #fff;
}
